* {
  box-sizing: border-box;
}
.sv {
  max-width: 120rem;
  height: 169.688rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.media {
  display: flex;
}
.container1 {
  width: 30%;
  height: 100%;
  background-color: black;
}
.head__img {
  display: flex;
  justify-content: center;
  margin-top: 3.125rem;
}
.img {
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 50%;
}
.pi {
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  line-height: 2.5rem;
  margin: 0 auto;
  margin-top: 6.25rem;
  margin-left: 2.5rem;
}
.line {
  width: 100%;
  height: 2px;
  background-color: rgb(255, 255, 255);
}
.tae {
  width: 100%;
  height: 9.375rem;
  margin-left: 0.625rem;
  margin-top: 0.625rem;
}
.telefon__icon {
  display: flex;
}

.telefon {
  font-size: 1.25rem;
  color: rgb(255, 255, 255);
  line-height: 1.25rem;
  color: rgb(255, 255, 255);
  margin-left: 0.625rem;
  margin-top: 1.25rem;
}
.telefon1 {
  color: inherit;
  text-decoration: none;
}
.telefon1:hover {
  color: blue;
}
.emaila {
  display: flex;
}
.email {
  font-size: 1.25rem;
  color: rgb(255, 255, 255);
  line-height: 1.25rem;
  margin-left: 0.625rem;
  margin-top: 0.625rem;
  color: rgb(255, 255, 255);
}
.email:hover {
  background-color: blue;
  border-radius: 5px;
}
.fa {
  height: 1.875rem;
  width: 1.875rem;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.625rem;
  margin-top: 0.625rem;
}
.skill {
  width: 100%;
  height: 134.375rem;
  margin: 0 auto;
}
.strengths {
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  line-height: 2.5rem;
  margin: 0 auto;
  margin-top: 5rem;
  margin-left: 1.875rem;
}
.sac {
  display: flex;
  margin-top: 1.25rem;
}
.skills {
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  margin-left: 2.5rem;
}
.circle {
  width: 3.125rem;
  height: 3.125rem;
  border: 10px solid white;
  border-radius: 50%;
  margin-left: 1.875rem;
  margin-top: 2.188rem;
}
.conteiner2 {
  width: 70%;
  height: 100%;
  background-color: aliceblue;
}
.name {
  font-size: 6.25rem;
  margin: 0 auto;
  margin-top: 3.125rem;
  margin-left: 3.125rem;
  font-family: Arial, Helvetica, sans-serif;
}
.whomw {
  font-size: 5rem;
  margin: 0 auto;
  margin-left: 3.125rem;
  margin-top: 3.75rem;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.text {
  font-size: 1.875rem;
  margin: 0 auto;
  margin-left: 3.125rem;
  margin-top: 1.875rem;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.exp {
  font-size: 5rem;
  margin: 0 auto;
  margin-left: 3.125rem;
  margin-top: 3.75rem;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.line1 {
  width: 100%;
  height: 5px;
  background-color: black;
}
.worked {
  margin-left: 3.125rem;
}
.expw {
  font-size: 2.5rem;
  margin: 0 auto;
  margin-top: 3.75rem;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.whenw {
  font-size: 2.5rem;
  margin: 0 auto;
  color: rgba(128, 128, 128, 0.938);
  font-family: Arial, Helvetica, sans-serif;
}
.wherew {
  font-size: 1.875rem;
  margin: 0 auto;
  margin-left: 2.5rem;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.exps {
  font-size: 2.5rem;
  margin: 0 auto;
  margin-top: 3.75rem;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.whenw1 {
  font-size: 2.5rem;
  margin: 0 auto;
  color: rgba(128, 128, 128, 0.938);
  font-family: Arial, Helvetica, sans-serif;
}
.wherew1 {
  font-size: 1.875rem;
  margin: 0 auto;
  margin-left: 2.5rem;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.end {
  margin: 0 auto;
  font-size: 2.5rem;
  margin-top: 3.75rem;
  margin-left: 3.125rem;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.wheres {
  margin: 0 auto;
  margin-left: 3.125rem;
  margin-top: 1.25rem;
  font-size: 2.5rem;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.wheres1 {
  margin: 0 auto;
  margin-left: 3.125rem;
  margin-top: 1.25rem;
  font-size: 1.875rem;
  color: rgba(128, 128, 128, 0.938);
  font-family: Arial, Helvetica, sans-serif;
}
.endr {
  margin: 0 auto;
  margin-left: 3.125rem;
  margin-top: 1.25rem;
  font-size: 2.5rem;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
